@import "_variables";
.admin__dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  .admin__header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
      font-size: 35px;
      font-weight: 900;
      margin: 0;
    }
    //Mixin
    button {
      padding: 5px 12px;
      min-width: 100px;
      height: max-content;
      padding: 10px;

      border: 0;
      background-color: $success;
      border-radius: 4px;
      color: $white;
    }
    button:hover {
      background-color: darken($color: $success, $amount: 10);
    }
  }
  .admin__body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 100px;
  }
}
