@import "_variables";

.bug__details__container {
  color: $main-color;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-left: 20%;
  .bug__details__header {
    .bug__details__goback {
      width: fit-content;
      a {
        font-size: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        color: $main-color;
      }
    }
    hr {
      margin: 0;
      width: 75%;
    }
    .bug__details__title {
      margin: 0;
      margin-top: 10px;
      width: 75%;
      margin-bottom: 50px;
      h6 {
        color: gray;
        margin-top: 5px;
      }
      p {
        align-items: center;
        display: flex;
        font-size: 44px;
        justify-content: space-between;
        margin-bottom: 0;
      }
      span {
        background-color: $success;
        color: $white;
        padding: 5px 22px;
        border-radius: 20px;
        font-size: 20px;
      }
    }
  }
  .bug__details__description {
    background-color: rgb(232, 238, 238);
    padding: 10px 22px;
    border-radius: 5px;
    width: 75%;
    word-wrap: break-all;
    p {
      margin: 0;
    }
  }
  .bug__details__buttons {
    margin-top: 60px;
    button {
      margin-right: 30px;
      border: 0;
      background-color: $danger;
      color: white;
      border-radius: 5px;
      padding: 5px 12px;
    }
    button:hover {
      background-color: darken($color: $danger, $amount: 10);
    }
    .close_btn {
      background-color: $main-color;
    }
    .close_btn:hover {
      background-color: lighten($color: $main-color, $amount: 10);
    }
  }
  .bug__details__comments {
    margin-top: 100px;
    background-color: rgb(248, 248, 248);
    width: 75%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid rgb(201, 199, 199);

    h3 {
      padding: 10px 22px;
    }
    .bug__details__comments__add {
      margin-top: 20px;
      padding: 10px 22px;
      display: flex;
      input {
        display: block;
        width: 60% !important;
        padding: 10px 15px;
        line-height: 20px;
        overflow: visible;
        color: #303336;
        margin-right: 20px;
      }
      input:focus {
        outline-offset: 0px !important;
        outline: none !important;
        border: 0.4px solid $main-color;
        border-radius: 4px;
        padding: 9px 22.5px;
      }
      button {
        padding: 5px 12px;
        min-width: 100px;
        border: 0;
        background-color: $main-color;
        border-radius: 4px;
        color: $white;
        margin-left: 20px;
        margin-top: 0px;
      }
      button:hover {
        background-color: lighten($color: $main-color, $amount: 10);
      }
    }
    .bug__details__comments__list {
      margin-top: 30px;
      li {
        list-style-type: none;
        padding: 10px 22px;
        border-top: 1px solid rgb(201, 199, 199);
        // border-bottom: 1px solid rgb(201, 199, 199);
        .comment__title {
          font-size: 24px;
        }
        .commented__by {
          margin-top: 10px;
          color: rgb(83, 83, 83);
          font-size: 13px;
        }
      }
    }
  }
}
