@import '_variables';
.container {
  display: flex;
  justify-content: center;
  .dashboard__container {
    width: 80%;
    .dashboard__header {
      .team_name {
        font-size: 20px;
        text-align: center;
        padding-bottom: 10px;
      }
      .dashboard__controls {
        position: relative;
        display: flex;
        justify-content: space-between;
        .search__bar {
          width: 80%;
          margin-right: 10px;
          .search__bar__input {
            input {
              width: 100% !important;
              padding: 4px 32.5px;
              // height: fit-content;
              line-height: 20px;
              overflow: visible;
              color: #303336;
              border: 0;
              border: 0.4px solid rgb(218, 218, 218);
              border-radius: 4px;
              margin-right: 20px;
            }
            input:focus {
              outline-offset: 0px !important;
              outline: none !important;
              padding: 4px 32.5px;
            }
            .search_logo {
              overflow: hidden;
              position: absolute;
              top: 11px;
              left: 10px;
              display: block;
              text-align: center;
              pointer-events: none;
              color: #959da5;
            }
          }
          .search__list {
            width: 80%;
            background-color: $white;
            position: absolute;
            z-index: 1000;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            border: 0.4px solid rgb(218, 218, 218);
            border-top: 0px;
            font-size: 18px;
            ul {
              list-style: none;
              margin: 0;
              li {
                padding: 5px 22px;
                border-top: 0.4px solid rgb(218, 218, 218);
                .search__bug__title {
                  margin: 0;
                  margin-bottom: 4px;
                  width: 100%;
                  div {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    justify-content: space-between;
                    span {
                      background-color: $success;
                      color: $white;
                      padding: 5px 22px;
                      border-radius: 20px;
                      font-size: 12px;
                    }
                  }
                }
                .search__bug__author {
                  text-decoration: none;
                  margin: 0;
                  font-size: 12px;
                  color: #586069;
                }
              }
            }
          }
        }
        .dashboard__controls__button {
          padding: 5px 12px;
          width: 200px;
          height: fit-content;
          border: 0;
          background-color: $success;
          border-radius: 4px;
          color: $white;
        }
        .dashboard__controls__button:hover {
          background-color: darken($color: $success, $amount: 10);
        }
      }
    }
    .dashboard__body {
      margin-top: 20px;
      .react-tabs {
        .dashboard__info {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          background-color: $main-color;
          border: 1px solid $main-color;
          border-left-width: 1px;
          border-right-width: 1px;
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;
          padding: 16px;
          padding-bottom: 0;
          color: $white;
          .dashboard__bugstatus {
            display: flex;
            flex-direction: row;
            width: 50%;
            .open__bugs {
              width: 80px;
              span {
                color: $danger;
                margin-right: 3px;
                svg {
                  margin-bottom: 2px;
                }
              }
            }
            .closed__bugs {
              width: auto;
              span {
                margin-right: 3px;
                svg {
                  margin-bottom: 2px;
                }
              }
            }
            .react-tabs__tab-list {
              margin: 0 !important;
              border: 0;

              .react-tabs__tab--selected {
                background-color: $main-color;
                border: 0;
                border-bottom: 3px solid $primary-color;
                color: $white;
              }
            }
          }
          .dashboard__filters {
            display: flex;
            flex-direction: row;
            width: 50%;
            justify-content: flex-end;
            details {
              margin-right: 25px;
              summary {
                list-style: none;
              }
              summary::-webkit-details-marker {
                display: none;
              }

              summary {
                list-style-type: none;
                padding: 0;
                cursor: pointer;
                span {
                  font-size: 18px;
                }
              }
              details-menu {
                color: $main-color;
                border-radius: 5px;
                border: 0.4px solid $main-color;
                position: absolute;
                width: 200px;
                z-index: 99;
                overflow: hidden;
                top: auto;
                bottom: auto;
                left: auto;
                background-color: $white;
                animation-duration: 0.12s;
                animation: cubic-bezier(0, 0.1, 0.1, 1) backwards;
                p {
                  margin-top: 10px;
                  padding-left: 12px;
                  margin-bottom: 10px;
                  font-size: 18px;
                }
                ul {
                  margin: 0;
                  li {
                    list-style: none;

                    padding: 10px 12px;
                    border-top: 0.4px solid $main-color;
                    cursor: pointer;
                  }
                  li:hover {
                    background-color: lighten($color: $main-color, $amount: 70);
                  }
                }
              }
            }
          }
        }
      }
      .dashboard__bugslist {
        ul {
          padding: 0;
          .react-tabs__tab-panel {
            li:not(:first-child) {
              border-top: 0;
            }
            .no__bugs {
              margin-top: 150px !important;
              text-align: center;
            }
          }
          .bugs__list {
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 8px;
            height: auto;
            color: $main-color;
            border: 1px solid $main-color;

            .bugs__list__content {
              .bugs__list__info__header {
                display: flex;
                flex-direction: row;
                > span {
                  color: $danger;
                }

                .bugs__list__headers {
                  margin-left: 10px;
                  .header {
                    font-size: 16px;
                    font-weight: 600;
                    margin-bottom: 10px;
                  }
                  .subheader {
                    font-size: 12px;
                    color: #586069;
                    margin: 0;
                  }
                }
              }
            }

            .bugs__list__comments {
              padding-right: 8px;
            }
          }
          .bugs__list:hover {
            background-color: lighten($color: $main-color, $amount: 70);
          }
        }
      }
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .app {
    padding: 40px;
    .container {
      .dashboard__container {
        padding: 20px;
        width: 100%;
        .dashboard__header {
          .dashboard__controls {
            position: relative;
            flex-direction: row;
            justify-content: center;
            .search__bar {
              margin-right: 10px;
              position: relative;
              .search__list {
                width: 75%;
                position: absolute;
                background-color: white;
                z-index: 1000;
              }
            }
          }
        }
        .dashboard__body {
          margin-top: 20px;
          .react-tabs {
            .dashboard__info {
              display: flex;
              flex-direction: row;
              padding: 10px;
              padding-bottom: 0;
              .dashboard__bugstatus {
                display: flex;
                flex-direction: row;
                width: 80%;
                .open__bugs {
                  width: 70px;
                }
                .react-tabs__tab-list {
                  .react-tabs__tab {
                    padding: 5px;
                    margin-right: 5px;
                  }
                }
              }
              .dashboard__filters {
                details {
                  margin-right: 0px;
                  summary {
                    list-style: none;
                  }
                  summary::-webkit-details-marker {
                    display: none;
                  }

                  summary {
                    span {
                      font-size: 20px;
                    }
                  }
                  details-menu {
                    left: 75%;
                    right: auto;
                    font-size: 18px;
                  }
                }
              }
            }
          }
          .dashboard__bugslist {
            ul {
              .bugs__list {
                .bugs__list__content {
                  .bugs__list__info__header {
                    .bugs__list__headers {
                      margin-left: 10px;
                      .header {
                        font-size: 14px;
                        margin-bottom: 5px;
                      }
                      .subheader {
                        font-size: 11px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    .dashboard__container {
      padding: 20px;
      width: 100%;
      .dashboard__header {
        .dashboard__controls {
          position: relative;
          flex-direction: column;
          align-items: center;
          .search__bar {
            width: 100%;
            margin-bottom: 15px;
            position: relative;
            .search__list {
              width: 100%;
              position: absolute;
              z-index: 1000;
              background-color: white;
              ul {
                li {
                  .search__bug__title {
                    div {
                      font-size: 14px;
                      span {
                        padding: 5px 18px;

                        font-size: 10px;
                      }
                    }
                  }
                  .search__bug__author {
                    font-size: 10px;
                  }
                }
              }
            }
          }
        }
      }
      .dashboard__body {
        margin-top: 20px;
        .react-tabs {
          .dashboard__info {
            display: flex;
            flex-direction: row;
            padding: 10px;
            padding-bottom: 0;
            .dashboard__bugstatus {
              display: flex;
              flex-direction: row;
              width: 85%;

              .open__bugs {
                width: 70px;
              }
              .react-tabs__tab-list {
                .react-tabs__tab {
                  padding: 0px;
                  margin-right: 5px;
                }
              }
            }
            .dashboard__filters {
              details {
                margin-right: 0px;
                summary {
                  list-style: none;
                }
                summary::-webkit-details-marker {
                  display: none;
                }

                summary {
                  span {
                    font-size: 15px;
                  }
                }
                details-menu {
                  left: 45%;
                  right: auto;
                  font-size: 15px;
                }
              }
            }
          }
        }
        .dashboard__bugslist {
          ul {
            .bugs__list {
              .bugs__list__content {
                .bugs__list__info__header {
                  .bugs__list__headers {
                    margin-left: 10px;
                    .header {
                      font-size: 14px;
                      margin-bottom: 5px;
                    }
                    .subheader {
                      font-size: 11px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
