@import "_variables";
.delete__modal {
  p {
    font-size: 24px;
  }
  .delete__modal__deletebtn {
    background-color: $white;
    color: $danger;
    border-radius: 5px;
    border: 1px solid $danger;
    margin-right: 30px;
    padding: 5px 12px;
    transition-duration: 0.4s;
  }

  .delete__modal__deletebtn:hover {
    background-color: $danger;
    color: $white;
  }

  .delete__modal__closebtn {
    background-color: $main-color;
    border-radius: 5px;
    color: white;
    border: 0;
    padding: 5px 12px;
    transition-duration: 0.4s;
  }

  .delete__modal__closebtn:hover {
    background-color: $white;
    border: 1px solid $main-color;
    color: $main-color;
  }
}
