@import '_variables';

header {
  height: 100px;
  .inner-header {
    position: relative;
    z-index: 10;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo a {
      font-weight: 700;
      font-size: 2rem;
      font-family: $header-font;
      text-decoration: none;
      color: $main-color;
    }
    .menu {
      button {
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
        font-size: 1.4rem;
        font-weight: 600;
        mix-blend-mode: difference;
      }
    }
    .header__links {
      display: flex;
      flex-direction: row;
      align-items: center;
      p {
        color: $black;
        font-size: 20px;
        font-weight: 300;
        color: $black;
        transition: 0.5s;
        margin: 0;
        margin-right: 1rem;
        cursor: pointer;
      }
      //Mixin
      button {
        text-decoration: none;
        padding: 1px 20px;
        text-align: center;
        border: 1px solid $main-color;
        border-radius: 3px;
        background-color: $white;
        color: $main-color;
        height: 40px;
        cursor: pointer;
        font-size: 20px;
        transition: 0.4s;
      }
      button:hover {
        background-color: $main-color;
        color: $primary-color;
      }
    }
  }
  .hamburger-menu {
    display: none;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    .menu-secondary-background-color {
      background: $black;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: fixed;
      height: 100%;
      width: 100%;
      z-index: -1;
    }
    .menu-layer {
      position: relative;
      background: #fca311;
      height: 100%;
      overflow: hidden;
      .wrapper {
        position: relative;
        width: 100%;
        .menu-links {
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: relative;
          top: 200px;
          width: 100%;
          padding: 0 20rem;
          nav {
            display: block;
            ul {
              margin: 0;
              padding: 0;
              li {
                list-style: none;
                font-size: 6rem;
                font-weight: 700;
                cursor: pointer;
                height: 135px;
                overflow: hidden;
                position: relative;
                width: 700px;
                a {
                  position: absolute;
                  color: #fff;
                  text-decoration: none;
                  &:hover {
                    color: #263239;
                  }
                }
              }
            }
          }
          .logout__button {
            text-decoration: none;
            padding: 1px 20px;
            text-align: center;
            border: 0;
            border-radius: 3px;
            background-color: $danger;
            color: $white;
            height: 40px;
            cursor: pointer;
            font-size: 20px;
            transition: 0.4s;
          }
          .logout__button:hover {
            background-color: darken($color: $danger, $amount: 10);
            color: $white;
          }
        }
      }
    }
  }
}

@media (max-width: 750px) {
  header {
    height: 100px;
    width: auto;
    .inner-header {
      width: 100vw;
      position: relative;
      z-index: 10;
      height: 100px;
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
    .hamburger-menu {
      display: none;
      z-index: 9;
      top: 0;
      left: 0;
      right: 0;
      // position: fixed;
      height: 100%;
      width: 100vw;
      .menu-secondary-background-color {
        background: $black;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: -1;
      }
      .menu-layer {
        background: #fca311;
        height: 100%;
        overflow: hidden;
        width: 100vw;

        .wrapper {
          .menu-links {
            flex-direction: column;
            top: 130px;
            padding: 0;
            nav {
              ul {
                width: 100%;
                li {
                  font-size: 3rem;
                  width: 300px;
                  height: 100px;
                  a {
                    position: absolute;
                    color: #fff;
                    text-decoration: none;
                    &:hover {
                      color: #263239;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@keyframes backgroundEffect {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 40% 10%;
  }
  50% {
    background-position: 0 10%;
  }
  75% {
    background-position: 10% 40%;
  }
  100% {
    background-position: 0% 0%;
  }
}
