@import "_variables";
.header {
  display: flex;
  justify-content: space-between;
  .logo {
    color: $main-color;
    font-size: 34px;
    font-weight: 600;
    font-family: $header-font;
  }
}
.header__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  p {
    color: $black;
    font-size: 20px;
    font-weight: 300;
    color: $black;
    transition: 0.5s;
    margin: 0;
    margin-right: 1rem;
    cursor: pointer;
  }

  button {
    text-decoration: none;
    padding: 1px 20px;
    text-align: center;
    border: 1px solid $main-color;
    border-radius: 3px;
    background-color: $white;
    color: $main-color;
    height: 40px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.4s;
  }
  button:hover {
    background-color: $main-color;
    color: $primary-color;
  }
}

@media (max-width: 500px) {
  .header {
    flex-direction: column;
    justify-content: center;
    .logo {
      margin-top: 20px;
      margin-bottom: 0;
      font-size: 37px;
      text-align: center;
    }
  }
  .header__links {
    justify-content: center;
    height: 60px;
    button {
      font-size: 20px;
    }
  }
}
