@import "_variables";
#modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal:empty {
  display: none;
}

#modal > div {
  background-color: white;
  max-width: 500px;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}

#modal .buttons button {
  display: inline-block;
  margin-right: 15px;
}

.modal__container {
  width: 400px;
  height: 300px;
  padding: 10px 20px;
  .modal__header {
    border-bottom: 1px solid rgb(197, 197, 211);
  }
  .modal__body {
    margin-top: 50px;
    .modal__form__controls {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 20px;
      height: fit-content;
      input {
        width: 100%;
        padding: 5px 12px;
      }
      input:focus {
        outline-offset: 0px !important;
        outline: 0px;
        border: 1px solid $main-color;
        padding: 6px 13px;
        color: $main-color;
        border-radius: 2px;
      }
      button {
        padding: 5px 12px;
        min-width: 100px;
        border: 0;
        background-color: $success;
        border-radius: 4px;
        color: $white;
        margin-left: 20px;
        margin-top: 0px;
      }
      button:hover {
        background-color: darken($color: $success, $amount: 10);
      }
    }
  }
  button {
    padding: 5px 12px;
    min-width: 100px;
    border: 0;
    background-color: $danger;
    border-radius: 4px;
    color: $white;
    margin-top: 50px;
  }
}
